# import

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

sns.set_theme()

# jupyter notebook full-width display
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# pandas formatting
pd.set_option('display.float_format', '{:.3f}'.format)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 200)

In [2]:
dtypes = {
    'YEAR': 'Int32', 
    'MM': 'Int32', 
    'DD': 'Int32', 
    'WEEK': 'Int32', 
    'SITE': 'object', 
    'PERIOD': 'object', 
    'CONDITION': 'object', 
    'FISH_NO': 'Int32', 
    'FL_WET': 'Int32', 
    'FL_FROZEN': 'object',  # error: Unable to parse string " ", covert to numeric manually
    'FL_STD': 'float64',
    'WEIGHT': 'float64',
    'SPECIES': 'object', 
    'SEX': 'object', 
    'MATURITY': 'object',  # error: Unable to parse string " ", covert to numeric manually
    'GONAD_WEIGHT': 'object',  # error: Unable to parse string " ", covert to numeric manually
    '1st Person Aging': 'object',  # error: could not convert string to float: ''
    'AGE': 'object',  # error: Unable to parse string "No Slide", covert to numeric manually
    'FSP': 'object',  # error: Unable to parse string " ", covert to numeric manually
    'Comments': 'object', 
    '2nd Person Aging': 'object', 
    'AGE.1': 'object',  # error: Unable to parse string ".", covert to numeric manually
    'FSP.1': 'object',  # error: Unable to parse string ".", covert to numeric manually
    'Comments.1': 'object', 
    'Envelop Comments': 'object'
} 

# initial data import
df = pd.read_csv('csv_MASTER_Gaspereau_details_Larry.csv', dtype=dtypes)

# create backup of notes (including all numeric data for simplicity)
df['AGE_notes'] = df['AGE']
df['FSP_notes'] = df['FSP']

# convert to numeric and coerce errors (all non-numeric data converted to null)
df['FL_FROZEN'] = pd.to_numeric(df['FL_FROZEN'], errors='coerce').astype('Int32')
df['MATURITY'] = pd.to_numeric(df['MATURITY'], errors='coerce').astype('Int32')
df['GONAD_WEIGHT'] = pd.to_numeric(df['GONAD_WEIGHT'], errors='coerce')  # float
df['AGE'] = pd.to_numeric(df['AGE'], errors='coerce').astype('Int32')
df['FSP'] = pd.to_numeric(df['FSP'], errors='coerce').astype('Int32')
df['AGE.1'] = pd.to_numeric(df['AGE.1'], errors='coerce').astype('Int32')
df['FSP.1'] = pd.to_numeric(df['FSP.1'], errors='coerce').astype('Int32')

# add a DATETIME column for plotting time series
df['DATETIME'] = pd.to_datetime(df['YEAR'].astype(str) + '-' + df['MM'].astype(str) + '-' + df['DD'].astype(str))

# cleaning the data

### PERIOD and CONDITION: merge different spellings

In [3]:
# cleaning categorical data
df.loc[df.PERIOD == 'PM ', 'PERIOD'] = 'PM'
df.loc[df.CONDITION == 'FROZEN', 'CONDITION'] = 'Frozen'
df.loc[df.CONDITION == 'FRESH', 'CONDITION'] = 'Fresh'

### PERIOD: convert 'AD' to 'AM' - CONFIRM
### (118 entries)

In [4]:
confirm_AD_to_AM = True

if confirm_AD_to_AM:
    df.loc[df.PERIOD == 'AD', 'PERIOD'] = 'AM'

### FL_STD: null or scale - CONFIRM
### (264 entries)

In [5]:
confirm_FL_STD_null = True
confirm_FL_STD_scale = False

# record indices of problems before transforming
index_FL_STD_problems = list(df.loc[df.FL_STD < 100, 'FL_STD'].index)

if confirm_FL_STD_null:
    df.loc[df.FL_STD < 100, 'FL_STD'] = np.nan
if confirm_FL_STD_scale:
    df.loc[df.FL_STD < 100, 'FL_STD'] = df.loc[df.FL_STD < 100, 'FL_STD'] * 10
    
# df['FL_STD'] = df['FL_STD'].astype(float)

In [6]:
# confirm data looks as expected now
df.iloc[index_FL_STD_problems]

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
34794,2019,5,31,5,26,AM,Fresh,1,<NA>,<NA>,NaN,223.100,A,F,4,22.800,JM,5,4,?BB Mark not full,NaN,<NA>,<NA>,NaN,NaN,5,4,2019-05-31
34795,2019,5,31,5,26,AM,Fresh,2,<NA>,<NA>,NaN,138.100,A,M,4,NaN,JM,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,2019-05-31
34796,2019,5,31,5,26,AM,Fresh,3,<NA>,<NA>,NaN,233.200,A,F,4,22.500,JM,5,4,NaN,NaN,<NA>,<NA>,NaN,NaN,5,4,2019-05-31
34797,2019,5,31,5,26,AM,Fresh,4,<NA>,<NA>,NaN,271.600,A,F,4,16.700,JM,5,3,NaN,NaN,<NA>,<NA>,NaN,NaN,5,3,2019-05-31
34798,2019,5,31,5,26,AM,Fresh,5,<NA>,<NA>,NaN,119.700,A,M,4,NaN,JM,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,2019-05-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35181,2019,6,21,8,41,AM,Frozen,33,<NA>,<NA>,NaN,158.500,A,F,4,14.700,JM,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,2019-06-21
35182,2019,6,21,8,41,AM,Frozen,34,<NA>,<NA>,NaN,174.000,A,M,4,NaN,JM,4,3,NaN,NaN,<NA>,<NA>,NaN,NaN,4,3,2019-06-21
35183,2019,6,21,8,41,AM,Frozen,35,<NA>,<NA>,NaN,109.800,B,M,4,NaN,JM,4,4,Dark,NaN,<NA>,<NA>,NaN,NaN,4,4,2019-06-21
35184,2019,6,21,8,41,AM,Frozen,36,2,2,NaN,151.800,B,F,4,16.100,JM,4,4,Root+Apex,NaN,<NA>,<NA>,NaN,NaN,4,4,2019-06-21
35185,2019,6,21,8,41,AM,Frozen,37,<NA>,<NA>,NaN,99.800,B,M,4,NaN,JM,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,2019-06-21

### FL_WET and FL_FROZEN: null or scale - CONFIRM
### (5 entries)

In [7]:
confirm_FL_WF_null = True
confirm_FL_WF_scale = False

# NOTE: indices from Excel are 1 indexed, not 0 indexed, and row 1 is the header
# therefore, the indices are off by 2
idx_dict = {
    35058-2: 100,
    35143-2: 10,
    35157-2: 100,
    35158-2: 100,
    35186-2: 100
}

# split these into variables to improve readability
indices = idx_dict.keys()
scale_factors = [idx_dict[k] for k in idx_dict.keys()]

if confirm_FL_WF_null:
    df.loc[indices, 'FL_WET'] = np.nan
    df.loc[indices, 'FL_FROZEN'] = np.nan
if confirm_FL_WF_scale:
    df.loc[indices, 'FL_WET'] = df.loc[indices, 'FL_WET'] * scale_factors
    df.loc[indices, 'FL_FROZEN'] = df.loc[indices, 'FL_FROZEN'] * scale_factors

In [8]:
# confirm data looks as expected now
df.loc[indices]

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
35056,2019,6,14,7,25,PM,Frozen,7,<NA>,<NA>,NaN,221.300,B,M,4,NaN,JM,6,3,"Ck Lgth, Possible 5-3",NaN,<NA>,<NA>,NaN,NaN,6,3,2019-06-14
35141,2019,6,19,8,41,PM,Frozen,28,<NA>,<NA>,NaN,228.600,A,F,4,35.900,JM,5,4,?able4,NaN,<NA>,<NA>,NaN,NaN,5,4,2019-06-19
35155,2019,6,21,8,41,AM,Frozen,7,<NA>,<NA>,NaN,97.000,B,M,4,NaN,JM,4,3,Ck Lgth,NaN,<NA>,<NA>,NaN,NaN,4,3,2019-06-21
35156,2019,6,21,8,41,AM,Frozen,8,<NA>,<NA>,NaN,103.800,B,M,4,NaN,JM,3,3,Dark,NaN,<NA>,<NA>,NaN,NaN,3,3,2019-06-21
35184,2019,6,21,8,41,AM,Frozen,36,<NA>,<NA>,NaN,151.800,B,F,4,16.100,JM,4,4,Root+Apex,NaN,<NA>,<NA>,NaN,NaN,4,4,2019-06-21

### SEX: leave or null 'U' - CONFIRM
NOTE: there are 749 'U' in 1987 (way more than all other years combined (797))

In [9]:
confirm_SEX_U_null = False

if confirm_SEX_U_null:
     df.loc[df.SEX == 'U', 'SEX'] = np.nan

In [10]:
# confirm data looks as expected now
df.loc[df.SEX == 'U']

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
3436,1987,5,21,<NA>,12,NaN,Frozen,1,<NA>,230,238.000,199.000,A,U,2,NaN,NaN,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,1987-05-21
3437,1987,5,21,<NA>,12,NaN,Frozen,2,<NA>,240,248.000,231.000,A,U,2,NaN,NaN,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,1987-05-21
3438,1987,5,21,<NA>,12,NaN,Frozen,3,<NA>,253,261.000,249.000,A,U,2,NaN,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,1987-05-21
3439,1987,5,21,<NA>,12,NaN,Frozen,4,<NA>,242,250.000,207.000,A,U,2,NaN,NaN,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,1987-05-21
3440,1987,5,21,<NA>,12,NaN,Frozen,5,<NA>,249,257.000,256.000,A,U,2,46.900,NaN,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,1987-05-21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27620,2012,6,22,8,2,PM,Frozen,17,<NA>,153,160.000,38.100,B,U,<NA>,NaN,NaN,2,2,NaN,NaN,<NA>,<NA>,NaN,NaN,2,2,2012-06-22
27649,2012,6,22,8,2,PM,Frozen,46,<NA>,140,147.000,32.300,B,U,<NA>,NaN,NaN,1,1,NaN,NaN,<NA>,<NA>,NaN,NaN,1,1,2012-06-22
27817,2012,6,27,9,26,AM,Frozen,8,<NA>,126,132.000,22.400,B,U,<NA>,NaN,NaN,1,1,NaN,NaN,<NA>,<NA>,NaN,NaN,1,1,2012-06-27
28377,2013,5,29,5,47,PM,Frozen,5,<NA>,257,265.000,197.100,A,U,0,NaN,JM,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,2013-05-29
31107,2015,6,23,9,41,PM,Frozen,8,<NA>,233,241.000,159.400,B,U,<NA>,NaN,JM,3,3,NaN,NaN,<NA>,<NA>,NaN,Unknown sex and maturity,3,3,2015-06-23

### SEX: leave or null 'B' - CONFIRM
### (only 1 entry) 
* confirm B is not 'both' (if so, could change label to 'H' for hermaphrodite)

In [11]:
confirm_SEX_B_null = True

if confirm_SEX_B_null:
     df.loc[df.SEX == 'B', 'SEX'] = np.nan

In [12]:
# confirm data looks as expected now
df.loc[df.SEX == 'B']

Empty DataFrame
Columns: [YEAR, MM, DD, WEEK, SITE, PERIOD, CONDITION, FISH_NO, FL_WET, FL_FROZEN, FL_STD, WEIGHT, SPECIES, SEX, MATURITY, GONAD_WEIGHT, 1st Person Aging, AGE, FSP, Comments, 2nd Person Aging, AGE.1, FSP.1, Comments.1, Envelop Comments, AGE_notes, FSP_notes, DATETIME]
Index: []

### MATURITY: leave or null '44' - CONFIRM
### (only 1 entry)

In [13]:
confirm_MATURITY_44_null = True

if confirm_MATURITY_44_null:
     df.loc[df.MATURITY == 44, 'MATURITY'] = np.nan

In [14]:
# confirm data looks as expected now
df.loc[df.MATURITY == 44]

Empty DataFrame
Columns: [YEAR, MM, DD, WEEK, SITE, PERIOD, CONDITION, FISH_NO, FL_WET, FL_FROZEN, FL_STD, WEIGHT, SPECIES, SEX, MATURITY, GONAD_WEIGHT, 1st Person Aging, AGE, FSP, Comments, 2nd Person Aging, AGE.1, FSP.1, Comments.1, Envelop Comments, AGE_notes, FSP_notes, DATETIME]
Index: []

### WEIGHT: Nullify outliers - CONFIRM
### (6 entries)

In [16]:
max_weight = 500

df.loc[df.WEIGHT > max_weight]

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
724,1984,5,1,<NA>,12,NaN,Frozen,30,<NA>,316,325.000,519.000,A,F,2,NaN,NaN,7,6,NaN,NaN,<NA>,<NA>,NaN,NaN,7,6,1984-05-01
735,1984,5,2,<NA>,12,NaN,Frozen,1,<NA>,316,325.000,539.000,A,F,2,NaN,NaN,8,4,NaN,NaN,<NA>,<NA>,NaN,NaN,8,4,1984-05-02
956,1984,5,8,<NA>,12,NaN,Frozen,27,<NA>,310,319.000,501.000,A,F,2,NaN,NaN,8,3,NaN,NaN,<NA>,<NA>,NaN,NaN,8,3,1984-05-08
2042,1985,5,16,<NA>,12,NaN,Frozen,5,<NA>,317,326.000,512.000,A,F,2,83.000,NaN,9,3,NaN,NaN,<NA>,<NA>,NaN,NaN,9,3,1985-05-16
6917,1989,5,13,<NA>,35,PM,Frozen,23,<NA>,305,314.000,503.000,A,F,4,95.000,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,1989-05-13
35019,2019,6,11,7,41,PM,Frozen,1,<NA>,<NA>,NaN,1934.000,A,M,4,NaN,JM,4,3,NaN,NaN,<NA>,<NA>,NaN,NaN,4,3,2019-06-11

In [15]:
confirm_WEIGHT_null = False # they all look real except 1934g fish which could be checked manually

if confirm_WEIGHT_null:
     df.loc[df.WEIGHT > max_weight, 'WEIGHT'] = np.nan
        
# DEAL WITH 1934g FISH MANUALLY
df.loc[df.WEIGHT > 1900, 'WEIGHT'] = np.nan

### GONAD_WEIGHT: Nullify outliers - CONFIRM
### (7 entries)

In [18]:
max_gonad_weight = 200

df.loc[df.GONAD_WEIGHT > max_gonad_weight]

,YEAR,MM,DD,WEEK,SITE,PERIOD,CONDITION,FISH_NO,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,1st Person Aging,AGE,FSP,Comments,2nd Person Aging,AGE.1,FSP.1,Comments.1,Envelop Comments,AGE_notes,FSP_notes,DATETIME
6285,1989,5,16,<NA>,38,PM,Frozen,41,<NA>,270,278.000,283.000,A,F,4,417.000,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,1989-05-16
14131,1995,6,2,5,"41,35",AM,Frozen,7,<NA>,276,284.000,337.000,A,F,4,766.000,NaN,<NA>,<NA>,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,1995-06-02
23059,2008,5,20,4,26,AM,Frozen,14,<NA>,260,268.000,277.300,A,F,4,414.800,NaN,5,4,NaN,NaN,<NA>,<NA>,NaN,NaN,5,4,2008-05-20
23295,2008,6,4,6,5,AM,Fresh,24,240,<NA>,240.000,176.400,A,F,4,219.600,NaN,3,3,NaN,NaN,<NA>,<NA>,NaN,NaN,3,3,2008-06-04
24542,2010,5,5,2,41,PM,Frozen,30,<NA>,262,270.000,233.700,A,F,4,335.500,NaN,4,3,NaN,NaN,<NA>,<NA>,NaN,NaN,4,3,2010-05-05
26462,2011,6,4,5,41,AM,Fresh,32,255,<NA>,255.000,220.300,A,F,4,280.000,NaN,4,4,NaN,NaN,<NA>,<NA>,NaN,NaN,4,4,2011-06-04
33026,2017,6,14,7,25,AM,Frozen,14,<NA>,246,254.000,183.400,B,F,4,256.000,JM,5,3,NaN,NaN,<NA>,<NA>,NaN,NaN,5,3,2017-06-14

In [17]:
confirm_GONAD_null = True  # all of these have gonads that weight more than the total weight

if confirm_GONAD_null:
     df.loc[df.GONAD_WEIGHT > max_gonad_weight, 'GONAD_WEIGHT'] = np.nan

### Validate weight to length ratio - CONFIRM

##### need to flag these and manually deal with them individually 
(could import a validation flag or similar)


[4:25 PM] Fishman, David
would be based on length in cm and weight in g

<img align='left' src="">

In [117]:
def lw_prediction_delta(sex, length_mm, weight_g):
    """
    returns actual weight / predicted weight, based on length and sex
    """
    
    sex, length_mm, weight_g = str(sex), float(length_mm), float(weight_g)
    
    if sex.lower()[0] == 'm':
        A, B = 0.00654, 3.15
    elif sex.lower()[0] == 'f':
        A, B = 0.00909, 3.03
    else:
        A, B = 0.00866, 3.06
        
    # in grams, length converted mm to cm
    predicted_weight_g = A * ((length_mm / 10) ** B)
    
    return weight_g / predicted_weight_g

1.3860845769209134

In [118]:
df['lw_ratio_check'] = 0.0

for i, row in df.iterrows():
    try:
        df.loc[i, 'lw_ratio_check'] = lw_prediction_delta(row['SEX'], row['FL_STD'], row['WEIGHT'])
    except KeyError:
        df.loc[i, 'lw_ratio_check'] = np.nan

In [119]:
df['lw_ratio_check'].describe(percentiles=[0.005, 0.995])

count   34919.000
mean        1.251
std         0.150
min         0.133
0.5%        0.942
50%         1.241
99.5%       1.651
max         8.741
Name: lw_ratio_check, dtype: float64

In [138]:
# number of samples with extraordinary dimensions
avg_ratio = df['lw_ratio_check'].describe()['mean']
stdev = df['lw_ratio_check'].describe()['std']

lw_ratio_min, lw_ratio_max = avg_ratio - 3*stdev, avg_ratio + 3*stdev
df[(df['lw_ratio_check'] < lw_ratio_min) | (df['lw_ratio_check'] > lw_ratio_max)].shape

(114, 29)

In [142]:
# these are our outliers
columns = ['CONDITION', 'FL_WET', 'FL_FROZEN', 'FL_STD', 'WEIGHT', 'SPECIES', 'SEX', 'MATURITY', 'GONAD_WEIGHT', 'AGE', 'lw_ratio_check']
df[(df['lw_ratio_check'] < lw_ratio_min) | (df['lw_ratio_check'] > lw_ratio_max)].sort_values('lw_ratio_check')[columns]

,CONDITION,FL_WET,FL_FROZEN,FL_STD,WEIGHT,SPECIES,SEX,MATURITY,GONAD_WEIGHT,AGE,lw_ratio_check
25517,Frozen,<NA>,283,292.000,33.300,A,F,4,61.600,6,0.133
21685,Frozen,<NA>,205,212.000,15.100,B,M,4,NaN,<NA>,0.153
22400,Frozen,<NA>,366,376.000,170.900,A,F,4,23.500,3,0.317
32158,Fresh,358,<NA>,358.000,178.800,A,F,4,20.200,4,0.385
25952,Frozen,<NA>,299,308.000,150.900,A,M,4,NaN,3,0.472
26280,Fresh,299,<NA>,299.000,146.100,A,M,4,NaN,3,0.502
27587,Frozen,<NA>,244,252.000,93.700,B,M,4,NaN,4,0.552
29991,Frozen,<NA>,241,249.000,103.600,B,M,3,NaN,3,0.634
1112,Frozen,<NA>,322,331.000,246.000,A,F,2,NaN,8,0.672
31000,Frozen,<NA>,260,268.000,140.300,A,M,<NA>,NaN,<NA>,0.681
10485,Frozen,<NA>,304,312.000,212.000,A,F,5,34.700,3,0.693
29231,Frozen,<NA>,261,269.000,136.300,A,F,4,33.200,4,0.698
29989,Frozen,<NA>,240,248.000,113.200,A,M,3,NaN,3,0.701
3487,Frozen,<NA>,244,252.000,120.000,A,U,2,33.200,3,0.713
3622,Frozen,<NA>,240,248.000,115.000,A,U,2,NaN,4,0.718
1276,Frozen,<NA>,255,263.000,141.000,A,F,2,NaN,3,0.773
1537,Frozen,<NA>,228,236.000,107.000,A,M,2,NaN,3,0.775
1385,Frozen,<NA>,240,248.000,119.000,A,F,2,NaN,3,0.779
14673,Frozen,<NA>,264,272.000,158.000,A,F,4,39.900,4,0.782
1739,Frozen,<NA>,166,173.000,41.000,B,M,1,NaN,1,0.790
28598,Frozen,<NA>,255,263.000,145.000,A,F,4,15.800,3,0.795
5625,Frozen,<NA>,275,283.000,388.000,B,F,4,63.000,6,1.704
4453,Fresh,255,<NA>,255.000,283.000,A,F,4,54.200,4,1.704
5216,Fresh,275,<NA>,275.000,356.000,A,F,4,60.000,4,1.705
5806,Frozen,<NA>,283,292.000,427.000,A,F,4,64.000,<NA>,1.705
500,Fresh,278,<NA>,278.000,368.000,A,F,2,NaN,5,1.705
4224,Fresh,270,<NA>,270.000,337.000,A,F,4,67.400,5,1.706
4608,Fresh,238,<NA>,238.000,230.000,A,F,4,34.000,3,1.707
3350,Frozen,<NA>,244,252.000,290.000,A,M,2,NaN,3,1.708
5031,Fresh,258,<NA>,258.000,294.000,A,F,4,38.000,4,1.708
4971,Fresh,263,<NA>,263.000,312.000,A,F,4,59.300,4,1.711
7086,Frozen,<NA>,275,283.000,390.000,A,F,4,67.000,5,1.712
5302,Fresh,268,<NA>,268.000,331.000,A,F,4,45.000,4,1.714
4669,Fresh,238,<NA>,238.000,231.000,A,F,4,36.300,3,1.714
4404,Fresh,280,<NA>,280.000,378.000,A,F,4,76.300,4,1.714
4425,Fresh,258,<NA>,258.000,295.000,A,F,4,52.500,4,1.714
4476,Fresh,258,<NA>,258.000,295.000,A,F,4,53.400,4,1.714
4970,Fresh,260,<NA>,260.000,302.000,A,F,4,56.900,5,1.714
9459,Fresh,265,<NA>,265.000,320.000,A,F,4,47.200,3,1.715
4221,Fresh,265,<NA>,265.000,320.000,A,F,4,53.100,4,1.715
4502,Fresh,260,<NA>,260.000,303.000,A,F,4,50.900,4,1.720
4220,Fresh,265,<NA>,265.000,322.000,A,F,4,51.700,4,1.725
6841,Frozen,<NA>,273,281.000,385.000,A,F,4,76.000,6,1.727
4646,Fresh,243,<NA>,243.000,248.000,A,F,4,37.500,3,1.728
4572,Fresh,248,<NA>,248.000,264.000,A,F,4,43.500,4,1.729
5282,Fresh,283,<NA>,283.000,394.000,A,F,4,71.000,4,1.730
4248,Fresh,265,<NA>,265.000,323.000,A,F,4,64.000,5,1.731
4240,Fresh,260,<NA>,260.000,305.000,A,F,4,51.400,4,1.731
277,Fresh,260,<NA>,260.000,305.000,A,F,2,NaN,4,1.731
4625,Fresh,258,<NA>,258.000,298.000,A,F,4,58.600,4,1.732
4451,Fresh,253,<NA>,253.000,281.000,A,F,4,51.500,4,1.733
635,Fresh,281,<NA>,281.000,389.000,A,F,2,NaN,5,1.745
4394,Fresh,250,<NA>,250.000,273.000,A,F,4,46.500,4,1.745
4214,Fresh,255,<NA>,255.000,290.000,A,F,4,47.000,4,1.746
8206,Fresh,278,<NA>,278.000,377.000,A,F,4,62.400,5,1.747
4766,Fresh,243,<NA>,243.000,251.000,A,F,4,40.600,3,1.749
4649,Fresh,248,<NA>,248.000,267.000,A,F,4,42.500,4,1.749
14900,Frozen,<NA>,226,234.000,224.000,A,F,4,41.000,<NA>,1.750
5337,Fresh,263,<NA>,263.000,341.000,A,M,4,NaN,4,1.755
259,Fresh,248,<NA>,248.000,268.000,A,F,2,NaN,3,1.755
30082,Frozen,<NA>,225,233.000,222.100,A,F,4,28.900,4,1.758
202,Fresh,275,<NA>,275.000,367.000,A,F,2,NaN,4,1.758
4959,Fresh,248,<NA>,248.000,270.000,A,F,4,40.100,4,1.769
4725,Fresh,253,<NA>,253.000,287.000,A,F,4,46.700,4,1.770
6699,Frozen,<NA>,245,253.000,287.000,A,F,4,55.000,4,1.770
4799,Fresh,240,<NA>,240.000,245.000,A,F,4,38.100,3,1.772
1071,Frozen,<NA>,268,276.000,375.000,A,F,2,NaN,5,1.776
17748,Fresh,277,<NA>,277.000,380.000,A,F,4,58.800,6,1.780
1008,Frozen,<NA>,285,294.000,456.000,A,F,2,NaN,6,1.784
13603,Frozen,<NA>,248,256.000,300.000,A,F,4,44.700,3,1.785
4666,Fresh,230,<NA>,230.000,217.000,A,F,4,29.400,3,1.786
4225,Fresh,275,<NA>,275.000,374.000,A,F,4,69.700,5,1.791
33479,Frozen,<NA>,225,233.000,226.400,A,F,4,30.300,5,1.792
22570,Frozen,<NA>,223,231.000,220.800,A,F,4,32.800,4,1.793
4749,Fresh,260,<NA>,260.000,316.000,A,F,4,59.000,4,1.794
579,Fresh,236,<NA>,236.000,236.000,A,F,2,NaN,3,1.796
6117,Frozen,<NA>,265,273.000,367.000,A,F,4,67.000,5,1.797
4671,Fresh,243,<NA>,243.000,258.000,A,F,4,37.200,3,1.797
4619,Fresh,245,<NA>,245.000,265.000,A,F,4,50.300,4,1.801
4564,Fresh,238,<NA>,238.000,243.000,A,F,4,26.700,3,1.803
24680,Fresh,276,<NA>,276.000,381.800,A,F,4,43.500,4,1.808
1903,Frozen,<NA>,283,292.000,454.000,A,F,2,65.800,7,1.813
5288,Fresh,280,<NA>,280.000,400.000,A,F,4,52.000,4,1.814
4746,Fresh,233,<NA>,233.000,230.000,A,F,4,35.000,3,1.820
4701,Fresh,258,<NA>,258.000,314.000,A,F,4,50.700,4,1.825
5098,Fresh,265,<NA>,265.000,341.000,A,F,4,63.000,5,1.827
9330,Fresh,251,<NA>,251.000,309.000,A,M,4,NaN,5,1.843
15609,Frozen,<NA>,228,236.000,254.600,A,M,4,NaN,4,1.843
224,Fresh,257,<NA>,257.000,337.000,A,M,2,NaN,3,1.865
31074,Frozen,<NA>,225,233.000,235.900,A,F,3,30.500,5,1.867
8089,Fresh,275,<NA>,275.000,391.000,A,F,4,48.400,4,1.873
1228,Frozen,<NA>,248,256.000,335.000,A,M,2,NaN,3,1.877
1983,Frozen,<NA>,260,268.000,363.000,A,F,2,48.700,4,1.880
4644,Fresh,233,<NA>,233.000,238.000,A,F,4,35.500,3,1.883
4328,Fresh,263,<NA>,263.000,346.000,A,F,4,71.200,4,1.897
3382,Frozen,<NA>,254,262.000,347.000,A,F,2,41.200,3,1.924
4750,Fresh,258,<NA>,258.000,332.000,A,F,4,66.500,4,1.929
23222,Fresh,256,<NA>,256.000,328.700,A,F,4,31.900,4,1.956
19156,Frozen,<NA>,232,240.000,271.800,A,F,4,48.600,<NA>,1.966
13181,Fresh,271,<NA>,271.000,394.000,A,F,4,61.900,5,1.973
14733,Frozen,<NA>,231,239.000,284.000,A,M,4,NaN,3,1.976
2430,Frozen,<NA>,225,233.000,250.000,A,F,3,10.100,2,1.978
4186,Fresh,258,<NA>,258.000,341.000,A,F,4,42.000,4,1.981
30452,Fresh,232,<NA>,232.000,256.200,A,F,4,12.600,<NA>,2.054
30533,Fresh,223,<NA>,223.000,240.700,A,M,4,NaN,<NA>,2.083
4171,Frozen,<NA>,226,234.000,282.000,A,U,2,NaN,3,2.103
14466,Frozen,<NA>,246,254.000,351.000,A,F,4,37.700,<NA>,2.138
18816,Frozen,<NA>,255,263.000,420.100,A,F,4,36.300,4,2.303
23583,Fresh,218,<NA>,218.000,294.100,B,F,4,44.000,<NA>,2.847
9389,Frozen,<NA>,175,182.000,209.000,A,M,4,NaN,3,3.430
9393,Frozen,<NA>,148,155.000,169.000,A,M,4,NaN,3,4.600
30038,Frozen,<NA>,112,118.000,107.500,A,M,3,NaN,2,6.909
30018,Frozen,<NA>,118,124.000,129.100,B,M,3,NaN,4,7.097
14844,Frozen,<NA>,118,124.000,159.000,B,M,4,NaN,3,8.741

# Save the Final Dataset

In [25]:
if True:  # change this to save
    df.to_pickle('cleaned_dataset.pickle')